@import './Variables.scss';
.bodi {
    margin-top: 0px;
    min-width: 100&;
    min-height: 100vh;
    object-fit: cover;
    .cards{ 
    background: linear-gradient(to right, #291D1F, #212E44);
    transition: background 1s linear;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-weight: bold;
    width: 600px;
    margin: auto;
    margin-top: 10px;
    opacity: 0.9;
    &:hover {
        background: linear-gradient(to right, #221A1C, #4164A1);
        animation: changeColor 10s infinite;
        @keyframes changeColor {
            0% {
              background-position: right;
            }
            50% {
              background-position: left;
            }
            100% {
              background-position: right;
            }
          }
    }
}
}

