$white: #F1F6F9;
$lightblue: #394867;
$darkblue: #212A3E;
$graylight: #9BA4B5;
$black: #000000;
$violet:rgb(122, 73, 122);
$darklight: rgba(0,0,0,0.3);

$dark: #0b0c10;
$hardgray: #1f2833;
$lightgray: #c5c6c7;
$aqua: #66fcf1;
$aquadark: #45a29e;
